/*applys to all divs*/
div{
    background-color:blue;
}

/*Calls div class unique1, specifying class takes a priority over a general div */
.unique1{
    background-color:burlywood;
}

/* "." is for class attributes
"#" is for id attributes
*/

/*id is more specific to this takes place over a class */
#anId{
    background-color: green;
}